/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Variable Css */
:root{
    --header-height: 3rem;

/* Colors */
/* Color Mode HSL(hue,saturation,lightness) */

--hue: 204;
--first-color: hsl(var(--hue), 88%, 53%);
--first-color-alt: hsl(var(--hue), 56%, 35%);
--title-color: hsl(210, 13%, 9%);
--text-color: hsl(228, 8%, 65%)
--body-color: hsl(0, 0%, 100%);
--container-color: hsl(204, 33%, 97%);


/* Font and Typography */
/* 0.5rem=8px && 1rem=16px */
--body-font: 'Poppins', sans-serif;
--biggest-font-size: 2rem;
--bigger-font-size:1.25rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smallest-font-size: .75rem;

/* font weihgt */
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;


/* z-index */
--z-tooltip: 10;
--z-fixed: 100;


/* Responsive screen */
@media screen and (min-width: 1152px){
    :root{
        --biggest-font-size: 4rem;
        --bigger-font-size: 2rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smallest-font-size: .813rem;
    }
}
}
    


/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
  html {
    scroll-behavior: smooth;
  }
  
  input,
  textarea,
  button,
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  body {
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
input,
textarea,
button{
    outline: none;
    border: none;
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

img,
svg{
    max-width: 100%;
    height: auto;
}


/* Reusable Css Classes */

.container{
    max-width: 1500px;
    margin-inline:1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 2rem;
}

.section__title,
.section__subtitle{
    text-align: center;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.section__title{
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}
.section__subtitle{
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.section__subtitle span{
    color: var(--first-color);
}

.section__title span{
  color: var(--first-color);
}

.main{
    overflow: hidden;   /* for animation scroll reveal */
}

/* Header & Nav */
.header{
    position: fixed;
    width: 100%;
    background-color: var(--body-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--bigger-font-size);
}

.nav__logo span{
    color: var(--first-color);
}
.nav__toggle,
.nav__close{
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}
/* Navigation for mobile devices */
@media  screen and (max-width: 1023px) {
    .nav__menu{
        position: fixed;
        background-color: hsla(0, 0%, 10%, .3);
        top: 0;
        right: -100%;
        width: 75%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        transition: .5s;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px); /* for safari browser */
    }
}


.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
  
  .nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
  }
  
  .nav__link:hover {
    color: var(--first-color);
  }
  
  .nav__close {
    font-size: 2rem;
    position: absolute;
    top: .9rem;
    right: 1.25rem;
    cursor: pointer;
  }
  
  /* Show menu  (hide and show for menu) */
  .show-menu {
    right: 0% ;
  }

  /* Add blur Header */
  .blur-header{
    background-color: transparent;
  }

  .blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 0%, 10%, .3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);  /* for safari browser */
    top: 0;
    left: 0;
    z-index: -1;
  }

  /* Active Link */

  .active-link{
    color: var(--first-color);
  }

  /* Home */

  .home{
    background-color: var(--body-color);
  }

  .home__container{
    margin-top: -5rem;
    margin-bottom: -5rem;
    row-gap:2.5rem;
  }

  .home__content{
    display: grid;
    row-gap:2rem;
  }

  .home__data{
    text-align: center;
  }

  .home__subtitle
  {
    font-size: var(--bigger-font-size);
  }
  .home__subtitle span{
    color: var(--first-color);
  }
  
  /* Text Flow */
 .home__education{
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    background-color: white;
    overflow: hidden;
  }

  .home__education .text{
    position: relative;
    font-size: var(--biggest-font-size);
    font-weight: 600;
  }
  .home__education .text::before{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
    border-left: 2px solid var(--first-color);
    animation: animate 4s steps(12) infinite;
  }
  @keyframes animate{
    40%, 60%{
      left: calc(100% + 4px) ;
    }
    100%{
      left: 0%;
    }
  }
  .home__title{
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
  }

  /* .home__title span{
    color: var(--first-color);
  } */

  .home__description{
    margin-block: 1rem 1.5rem;
  }

  .home__social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
  }

  .home__social-link{
    display: flex;
    background-color: var(--first-color);
    padding: .5rem;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%, 0% 25%); 
    transition: transform .4s;  
 }

 .home__social-link:hover{
    transform: translateY(-.25rem);
 }

 .home__image{
    justify-self: center;

 }

 .home__blob{
    width: 320px;
    fill: var(--first-color);
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .3));
 }

 /* Buttons */
 .button{
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
    font-weight: var(--font-medium);
    transition: box-shadow .4s;
 }

 .button:hover{
    box-shadow: 0 8px 12px hsla(var(--hue), 100%, 40%, .25);
 }

 /* About */
 .about{
  background-color: var(--container-color);
 }
 .about__container{
    row-gap: 2.5rem;
 }

 .about__data{
    text-align: center;
 }

 .about__description{
    margin-bottom: 2rem;
 }

 .about__image{
    justify-self: center;
 }

 .about__blob{
    width: 320px;
 }

 .about__blob path{
    stroke: var(--first-color);
 }

 /* Skills */

 .skills{
    background-color: var(--body-color);
 }

 .skills__container{
    padding-bottom: 2rem;
    row-gap: 3.5rem;
 }

 
 .skills__content,
 .skills__group{
    display: grid;
 }

 .skills__content{
    grid-template-columns: repeat(5, max-content);
    column-gap: 4rem;
    justify-content: center;
    align-items: baseline;
 }

 .skills__content ol{
  list-style: disc;
 }

.skills__group{
    row-gap: 1rem;
    /* list-style: decimal-leading-zero; */
}

.skills__item{
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.skills__item::marker{
    color: var(--first-color);
}



 /* Services */

 .services{
  background-color: var(--container-color);
 }

 .services__container{
  row-gap: 2rem;
  padding-block: 1rem;
 }

 .services__card{
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding: 3rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid hsl(0, 0%, 100%);
  transition: border .4s;
  box-shadow: 0 3px 3px 0 var(--first-color);
 }

 .services__icon{
  display: block;
  font-size: 4rem;
  /* color: var(--first-color); */
  color: black;
  margin-bottom: .75rem;
 }

 .services__title{
  font-size: var(--h2-font-size);
  margin-bottom: 1.5rem;
 }

 .services__card:hover{
  border: 2px solid var(--first-color);
 }




/* Contacts */

.contact{
  background-color: var(--body-color);
}

.contact__container{
  padding-top: 1rem;
}

.contact__form,
.contact__group{
  display: grid;
  row-gap: 1rem;
}

.contact__form{
  position: relative;
}

.contact__input{
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.contact__input::placeholder{
  color:var(--text-color);
}

.contact__form textarea{
  height: 11rem;
  resize: none;
  margin-bottom: 2rem;
}

.contact__button{
  justify-self: center;
  cursor: pointer;
}

.contact__message{
  position: absolute;
  left: 0;
  bottom: 4.5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}


 /* Footer */

 .footer{
  background-color: var(--body-color);
  padding-block: 3.5rem 2rem;
 }

 .footer__container{
  row-gap: 2rem;
  text-align: center;
 }

 .footer__title{
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  padding-bottom: .25rem;
 }

 .footer__title span{
  color: var(--first-color);
 }

 .footer__education{
  font-size: var(--normal-font-size);
 }

 .footer__social{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.25rem;
  
 }

 .footer__social-link{
  display: flex;
  background-color: var(--first-color);
  padding: .5rem;
  color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
  clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%, 0% 25%);
  transition: transform .4s; 
 }

 .footer__social-link:hover{
  transform: translateY(-.25rem);
 }

 .footer__copy{
  font-size: var(--small-font-size);
  margin-top: 2rem;
 }
 .footer__copy span{
  color: var(--first-color);
 }

 /* Scrollbar */

 ::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(228, 12%, 25%);
 }

 ::-webkit-scrollbar-thumb{
  background-color: hsl(228, 8%, 35%);
  border-radius: .5rem;
 }

 ::-webkit-scrollbar-thumb:hover{
  background-color: hsl(228, 8%, 50%);
 }

 /* Scrollup */
 .scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--body-color);
  color: var(--first-color);
  padding: 6px;
  display: inline-flex;
  border-radius: .25rem;
  font-size: 1.25rem;
  box-shadow: 0 4px 12px hsla(228, 15%, 85, .4);
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
 }

 .scrollup:hover{
  transform: translateY(-.25rem);
 }

 /* Show scroll Up */

 .show-scroll{
  bottom: 3rem;
 }


 /* For Small devices */
 @media  screen and (max-width: 320px) {

  .home__education .text{
    font-size: var(--bigger-font-size);
  }
  .home__container{
    margin-top: 2rem;
  }
  .container{
    margin-inline: 1rem;
  }
  
  .skills__content{
    grid-template-columns: max-content;
    row-gap: 1rem;
  }

  .services__card{
    padding-block:1.5rem;
  }
 }

 @media screen and (max-width:576px){
  
  .home__container{
    margin-top: 2rem;
  }
  .home__education .text{
    font-size: var(--bigger-font-size);
  }

  .skills__content{
    grid-template-columns: max-content;
    row-gap: 1rem;
  }
 }

 /* For medium devices */
 @media screen and (min-width: 576px){
  
  .home__container{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .home__education .text{
    font-size: var(--bigger-font-size);
  }

  .home__container,
  .about__container,
  .skills__container,
  .services__container,
  .contact__container
  {
    grid-template-columns: 320px;
    justify-content: center;
  }
  
  
}


/* For Medium devices */
@media screen and (min-width: 768px){
  
  .home__container{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .home__education .text{
    font-size: var(--bigger-font-size);
  }
  .nav__menu{
    width: 55%;
  }
  
  .home__container,
  .about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__data,
  .about__data,
  .skills__data,
  :is(.about__data, .skills__data) :is(.section__subtitle,.section__title)
  {
    text-align: initial;
  }
  
  .home__social{
    justify-content: initial;
  }

  .home__blob,
  .about__blob{
    width: 380px;
  }

  .about__data{
    order: 1;
  }

  .services__container
  {
    grid-template-columns: repeat(2, 352px);
  }


  
  .skills__content{
    font-size: var(--small-font-size);
    align-items: center;
    margin-left: 5rem;
    margin-top: 2rem;
  } 
}

/* For large devices */

@media screen and (min-width: 1023px){
  .home__container{
    margin-top: -3rem;
  margin-bottom: -3rem;
  }
  .home__education .text{
    font-size: var(--biggest-font-size);
  }
  .section{
    padding-block: 7rem 2rem;
  }

  .section__subtitle{
    font-size: var(--normal-font-size);
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__close,
  .nav__toggle{
    display: none;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu{
    width: initial;
  }

  .blur-header::after{
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px) ;
  }

  

  .skills__content{
    margin-top: 2rem;
    margin-left: 30%;
    column-gap: 6rem;
    font-size: var(--normal-font-size);
  }
}

@media screen and (min-width: 1152px) {


  .section{
    margin-inline: auto;
  }

  .nav{
    padding-block: 2rem 1.5rem;
  }

  
  .home__container{
    grid-template-columns: 445px 550px;
    column-gap: 7rem;
    padding-block: 2rem 3rem;
  }

  .home__blob{
    width: 550px;
  }

  .home__content{
    row-gap: 4.5rem;
  }

  .home__description{
    margin-block: 1.5rem 2rem;
  }

  .home__social{
    column-gap: 1.5rem;
  }

  .about__container{
    grid-template-columns: 500px 800px;
    column-gap: 4.5rem;
    padding-bottom: 1rem;
  }
  
  .about__blob{
    widows: 550px;
  }

  .about__description{
    margin-bottom: 3rem;
  }

  .skills__container{
    /* grid-template-columns: 340px 425px; */
    column-gap: 3rem;
    /* padding-top: 2rem; */
    padding-bottom: 3rem;
    font-size: var(--normal-font-size);
    align-items: center;
    margin-right: 7rem;
  }

  .skills__description{
    margin-bottom: 3rem;
  }

  .skills__content{
    margin-top: 2rem;
    column-gap: 8rem;
    margin-left: 20rem;
  }

  .skills__group{
    row-gap: 1.5rem;
  }

  .skills__item{
    font-size: var(--h3-font-size);
  }

  .services__container{
    grid-template-columns: repeat(3, 350px);
    padding-block: 3rem 4.5rem;
    column-gap: 4rem;
  }

  .services__card{
    padding: 4rem 2rem 2rem 2rem;
    
  }

  .contact__container{
    grid-template-columns: 700px;
    padding-block: 2.5rem 2rem ;
  }

  .contact__form{
    row-gap: 1.5rem;
  }

  .contact__group{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .contact__input{
    padding: 1.5rem;
  }

  .contact__form textarea{
    height: 20rem;
  }

  .footer{
    padding-block: 4.5rem 4rem;
  }

  .footer__container{
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: initial;
  }

  .footer__title{
    font-size: var(--bigger-font-size);
  }

  .footer__social{
    column-gap: 2rem;
  }

  .footer__copy{
    margin: 0;
    justify-self: flex-end;
  }

  .scrollup{
    right: 3rem;
  }
}
